.App {
  text-align: center;
}

.App-content {
  background-color: #373B45;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding:  16px;
  color: white;
}

.links{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.links a{
  color: #09f;
  font-size: 30px;
  margin: 10px;
}

.links a:hover{
  color: blue;
  
}

h1{
  font-size: 140px;
  text-decoration: underline;
  text-shadow: 7px 5px rgba(0, 0, 0, 0.3);
}